{% load static %}
{% block partners %}
<!-- PARTNERS -->
<div id="sns_partners" class="wrap">
    <div class="container">
        <div class="slider-wrap">
            <div class="partners_slider_in">
                <div id="partners_slider1" class="our_partners owl-carousel owl-theme owl-loaded"
                     style="display: inline-block">
                    <div class="item">
                        <a class="banner11" href="#" target="_blank">
                            <img src="{% static '/images/brands/1.png'%}">
                        </a>
                    </div>
                    <div class="item">
                        <a class="banner11" href="#" target="_blank">
                            <img src="{% static '/images/brands/2.png'%}">
                        </a>
                    </div>
                    <div class="item">
                        <a class="banner11" href="#" target="_blank">
                            <img src="{% static '/images/brands/3.png'%}">
                        </a>
                    </div>
                    <div class="item">
                        <a class="banner11" href="#" target="_blank">
                            <img src="{% static '/images/brands/4.png'%}">
                        </a>
                    </div>
                    <div class="item">
                        <a class="banner11" href="#" target="_blank">
                            <img src="{% static '/images/brands/5.png'%}">
                        </a>
                    </div>
                    <div class="item">
                        <a class="banner11" href="#" target="_blank">
                            <img src="{% static '/images/brands/6.png'%}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- AND PARTNERS -->
{% endblock partners %}
